# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.StarDriver.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\royber manjarrez\RiderProjects\StarDriver\.idea\.idea.StarDriver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
