<form action=""  (ngSubmit)="form.form.valid && onForm(form)"  #form="ngForm">

  <h2 mat-dialog-title> Crear salon</h2>

  <mat-dialog-content class="mat-typography">

    <mat-form-field appearance="outline" class="w-100" >
      <mat-label>Nombre</mat-label>
      <input matInput name="name" [(ngModel)]="room.name" placeholder="Ingresar Nombre" required>
    </mat-form-field>


    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Descripción</mat-label>
      <textarea matInput name="description" [(ngModel)]="room.description" placeholder="Ingresar descripcion" required></textarea>
    </mat-form-field>

   <!-- <mat-form-field appearance="outline" class="w-100">
      <mat-label>Estado</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
        <mat-option value="option">Option2</mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Instructor</mat-label>
      <mat-select name="instructor" [(value)]="room.idInsturctor" required>
        <mat-option *ngFor="let item of instructors" [value]="item.id">{{item.name + ' ' + item.surname}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Plan de desarrollo</mat-label>
      <mat-select name="devplan" [(value)]="room.idDevPlan" required>
        <mat-option *ngFor="let item of devPlans" [value]="item.id">{{item.level}}</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button type="submit" [mat-dialog-close]="true" [disabled]="form.invalid">Guardar</button>
  </mat-dialog-actions>

</form>
